<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
** 글 내용 **</p>

<a href="insert">자료 추가</a> <!-- get 방식~ -->

<table border="1">
<tr><th>아이디</th><th>제목</th><th>내용</th><th>등록일</th></tr>
{% if gdatas %} <!-- 있으면 true, 없으면 false -->
{% for g in gdatas %}
<tr>
   <td>{{g.id}}</td> <!-- django 템플레이트 문법 -->
   <td>{{g.title}}</td>
   <td>{{g.content}}</td>
   <td>{{g.regdate}}</td>
</tr>

{% endfor %}
{% else %}
<tr>
   <td colspan="4">글이 없어요! </td>
</tr>

{% endif %}
</table>
</body>
</html>